{% extends "home/base.html" %}

{% block content %}
<style>
    .home{
        background-color: rgba(255,255,255,0.5);
        padding:10px;
    }
</style>
<div class="home">
    <h1>Looks like you found a lost item!</h1>
    <p>
        Please enter your first name and a valid email that the owner of this 
        device can reach you at.
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
        <button class="btn btn-outline-info" type="submit">Send</button>
        </div>
    </form>
</div>
{% endblock content %}
