{% extends "home/base.html" %}

{% block content %}
  {% if code_num == 0 %}
    <h1>You have no devices</h1>
  {% else %}
    <h1>Your Devices</h1>
    <br>
    {% for code in qr_codes %}
      <article class="media content-section">
        <div class="media-body">
          <h2><a class="article-title" href="#">Device Name: {{code.device}}</a></h2>
          <p class="article-content">QR Code: {{code.qr_code}}</p>
        </div>
      </article>
    {% endfor %}
  {% endif %}
{% endblock content %}
